/* style of Dashboard-main boxes */
#card1{
    background-color: rgba(248, 11, 31, 0.856);
}
#card2{
    background-color: rgb(246, 183, 10);
}
#card3{
    background-color: rgb(3, 141, 45);
}
#card4{
    background-color: rgb(11, 11, 143);
}
#card5{
    background-color: rgba(92, 4, 151, 0.822);
}
#card6{
    background-color: rgba(66, 190, 9, 0.651);
}
#card7{
    background-color: rgba(241, 30, 11, 0.808);
}